{
  "env": {
    "browser": true,
    "jest/globals": true,
    "jasmine": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:testing-library/recommended",
    "plugin:import/recommended",
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "sourceType": "module",
  },
  "plugins": ["react", "jest", "testing-library", "test-selectors"],
  "ignorePatterns": [
    "/api_docs/**",
    "/app/[^assets]/**",
    "/benchmark/**",
    "/bin/**",
    "/config/**",
    "/db/**",
    "/deploy/**",
    "/doc/**",
    "/docker/**",
    "/features/**",
    "/lib/**",
    "/log/**",
    "/ops/**",
    "/public/**",
    "/scripts/**",
    "/spec/[^javascripts]/**",
    "/stories/**",
    "/tmp/**",
    "/vendor/**",
    "/app/assets/javascripts/kendo/**",
    "/app/assets/javascripts/*.js",
  ],
  "globals": {
    "is_present": true,
"    $": true,
    "Intercom": true,
    "ANALYTICS_URL": true,
    "APPLE_CLIENT_ID": true,
    "CALENDLY_WIDGET": true,
    "FIREBASE_CONFIGURATION": true,
    "FIREBASE_PUBLIC_VAPID_": true,
    "FLAT_FILE_LICENSE_KEY": true,
    "FULL_CALENDAR_LICENSE_KEY": true,
    "FUND_BOX_PARTNER_ID": true,
    "FUND_BOX_PARTNER_ID_NAKED": true,
    "FUND_BOX_SCRIPT_URL": true,
    "FUND_BOX_WWW_HOUSECALL_IO_PARTNER_ID": true,
    "GOOGLE_CLIENT_ID": true,
    "GOOGLE_MAPS_API_KEY": true,
    "HOME_BASE_URL": true,
    "HOUSECALL_API_URL": true,
    "HOUSECALL_BASE_DOMAIN": true,
    "HOUSECALLPRO_URL": true,
    "HOUSECALL_SERVER_URL": true,
    "HOUSECALL_URL": true,
    "LAUNCH_DARKLY_JS_KEY": true,
    "LAUNCH_DARKLY_ADMIN_PANEL_KEY": true,
    "MARKETPLACE_URL": true,
    "PLAID_EXPENSE_CARDS_PUBLIC_KEY": true,
    "PRO_DASHBOARD_BASE_URL": true,
    "REFER_A_FRIEND_VIRAL_LOOP": true,
    "STRIPE_PUBLISHABLE_KEY": true,
    "TEST_BILLING": true,
    "VIRAL_ENGINE_URL": true,
    "WEBSITE_PREVIEW_URL": true,
    "ZILLOW_API_URL": true,
    "HOUSECALL_IMAGE_PLACEHOLDER_URL": true,
    "moment": true,
    "Stripe": true,
    "accounting": true,
  },
  "rules": {
    // override default of 100 to be consistent with Ruby
    // https://github.com/airbnb/javascript/blob/eslint-config-airbnb-v14.1.0/packages/eslint-config-airbnb-base/rules/style.js#L143
    "max-len": [
      "error",
      120,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
      },
    ],
    "camelcase": ["off"],
    "lines-between-class-members": ["off"],
    "implicit-arrow-linebreak": ["off"],
    "import/no-extraneous-dependencies": ["off"],
    "import/prefer-default-export": ["off"],
    "no-restricted-imports": ["error", { "paths": ["@material-ui"] }],
    "react/no-array-index-key": ["off"],
    "react/jsx-props-no-spreading": "off",
    "test-selectors/textfield": [
      "error",
      "always",
      { "testAttribute": "data-testid" },
    ],
    "test-selectors/input": [
      "error",
      "always",
      { "testAttribute": "data-testid" },
    ],
    "testing-library/consistent-data-testid": [
      2,
      {
        "testIdPattern": "^[a-zA-Z]+((-|__)[a-zA-Z]+)*$",
      },
    ],
    "react/require-default-props": [
      2,
      {
        "ignoreFunctionalComponents": true,
      },
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
      },
    ],
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json",
      },
      "plugins": ["@typescript-eslint"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-unused-vars": [
          "error",
          { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" },
        ],
        "react/prop-types": "off",
        "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
        "no-use-before-define": "off",
        "no-shadow": "off",
        "@typescript-eslint/no-use-before-define": ["error"],
        "@typescript-eslint/no-shadow": ["error"],
      },
    },
    {
      "files": ["**/*.test.ts", "**/*.test.tsx"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json",
      },
      "plugins": ["@typescript-eslint"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "import/no-extraneous-dependencies": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
      },
    },
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["components", "./app/assets/javascripts/components"],
          ["hooks", "./app/assets/javascripts/Hooks"],
          ["resources", "./app/assets/javascripts/Resources"],
          ["schema", "./app/assets/javascripts/Schema"],
          ["utils", "./app/assets/javascripts/utils"],
          ["spec", "./spec/javascripts/"],
          ["spec-utils", "./spec/javascripts/utils"],
          ["spec-resources", "./spec/javascripts/Resources"],
        ],
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"],
      },
    },
  },
};
